@CHARSET "UTF-8";
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	color:#38557D;
	margin:0;
	padding: 3px;
	background-color:#FFF;
}
#login_form{
	width: 278px;
}
label {
	padding-left:5px;
}
#sms_count{
	z-index: -10;
	margin-left: -22px;
	margin-top:-3px;
	width:21px;
	height:12px;
	position:relative;
	text-align:center;
	vertical-align:text-top;
	display:inline-block;
	line-height:12px;
	font:bold
	
}
#main #welcomeuser {
	border-bottom: 1px solid black;
	text-align: right;
}

#main #toolbar {
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 0px;
	clear:both;
}

#main #toolbar #toolbar-ul {
	margin: 0px;
	list-style:none;
	padding:0px;
}
#main #toolbar #toolbar-ul .toolbar-item {
	float:left;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
	
}


#tabs {
	clear:both;
	margin: 0;
	padding: 0px;
	
	
}
#tabs ul {
	margin: 0px;
	list-style:none;
	padding:0px;

}
#tabs ul li {
	float:left;
	margin-top: 0px;
	margin-right: 1px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 32.9%;
	background-color:#38557D;
	height: 21px;
	cursor: pointer;
}
#tabs ul li a {
	text-decoration: none;
	display: block;
	width: 83px;
	color: #FFF;
	text-align: center;
	height: 21px;
	line-height: 21px;
}
#tabs ul li ul li a:hover{
	background-color:gray;
	cursor:pointer;
	color:white;
}

#itemLists{
	background-color: #F5F5F5;	
}
#editItemList{
	display:none;
}

#searchItemList{
	display:none;
}
#content_header{
	position: fixed;
	left:3px;
	top:0px;
	background-color:#FFFFFF;
	width:278px;
	z-index: 999;
}
#content_body{
	height:auto;
	padding-top:75px;
	margin-bottom:15px;

	width: 278px;
}
#content_footer{
	position: fixed;
	left:0px;
	bottom:0px;
	background-color: #FFF;
	width: 278px;
}
.imgbtn{
	cursor:pointer;
}
.field_group_title_tr{
	cursor: pointer;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
}

div.ui-datepicker {
    font-size: 80%;
}
td select, td img, td input {
    vertical-align: middle;
}
input {
    color: #38557D;
    font-size: 11px;
}
.toolbar-item{
	position:relative;
}
#sms-list-ul{
	display: none;
	background-color:#FFFFFF;
	position:absolute;
	top: 100%;
	left: -15px;
	z-index: 1000;
	list-style: none;
	margin:0px;
}

#sms-list-ul .sms-list-item{
	
}

#sms-list-ul .sms-list-item a{
	padding:3px 18px;
	border-bottom: 1px solid #DDD;
	display: block;
	text-decoration: none;
}

#sms-list-ul .sms-list-item a:hover{
	background-color:gray;
}